<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" href="../static/overview.css">
</head>
<body>
  <table class="overview-table">
    <tr>
      <th class="overview-head">Woche</th>
      <th class="overview-head">Montag</th>
      <th class="overview-head">Dienstag</th>
      <th class="overview-head">Mittwoch</th>
      <th class="overview-head">Donnerstag</th>
      <th class="overview-head">Freitag</th>
      <th class="overview-head">Done</th>
    </tr>
    <tr>
      <td class="overview-data">
        <table class="day-table">
          <tr>
            <td>
              <table class="task-table">
                <tr>
                  <th class="task-head">Beschreibung</th>
                  <th class="task-head">Zeit</th>
                  <th class="task-head">Verbleibend</th>
                </tr>
                <tr>
                  <td class="task-data">Task 1</td>
                  <td class="task-data-time">2h</td>
                </tr>
                <tr>
                  <td class="empty-field"></td>
                  <td class="task-data-remaining">0h</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table class="task-table">
                <tr>
                  <th class="task-head">Beschreibung</th>
                  <th class="task-head">Zeit</th>
                </tr>
                <tr>
                  <td class="task-data">Task 2</td>
                  <td class="task-data-time">2h</td>
                </tr>
                <tr>
                  <td class="empty-field"></td>
                  <td class="task-data-remaining">0h</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="add-button">+</button>
            </td>
          </tr>
        </table>
      </td>
      <td class="overview-data">
        <table class="day-table">
          <tr>
            <td>
              <table class="task-table">
                <tr>
                  <th class="task-head">Beschreibung</th>
                  <th class="task-head">Zeit</th>
                </tr>
                <tr>
                  <td class="task-data">Task 3</td>
                  <td class="task-data-time">2h</td>
                </tr>
                <tr>
                  <td class="empty-field"></td>
                  <td class="task-data-remaining">0h</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="add-button">+</button>
            </td>
          </tr>
        </table>
      </td>
      <td class="overview-data">
        <table class="day-table">
          <tr>
            <td>
              <table class="task-table">
                <tr>
                  <th class="task-head">Beschreibung</th>
                  <th class="task-head">Zeit</th>
                </tr>
                <tr>
                  <td class="task-data">Task 4</td>
                  <td class="task-data-time">2h</td>
                </tr>
                <tr>
                  <td class="empty-field"></td>
                  <td class="task-data-remaining">0h</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="add-button">+</button>
            </td>
          </tr>
        </table>
      </td>
      <td class="overview-data">
        <table class="day-table">
          <tr>
            <td>
              <table class="task-table">
                <tr>
                  <th class="task-head">Beschreibung</th>
                  <th class="task-head">Zeit</th>
                </tr>
                <tr>
                  <td class="task-data">Task 5</td>
                  <td class="task-data-time">2h</td>
                </tr>
                <tr>
                  <td class="empty-field"></td>
                  <td class="task-data-remaining">0h</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="add-button">+</button>
            </td>
          </tr>
        </table>
      </td>
      <td class="overview-data">
        <table class="day-table">
          <tr>
            <td>
              <table class="task-table">
                <tr>
                  <th class="task-head">Beschreibung</th>
                  <th class="task-head">Zeit</th>
                </tr>
                <tr>
                  <td class="task-data">Task 6</td>
                  <td class="task-data-time">2h</td>
                </tr>
                <tr>
                  <td class="empty-field"></td>
                  <td class="task-data-remaining">0h</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="add-button">+</button>
            </td>
          </tr>
        </table>
      </td>
      <td class="overview-data">
        <table class="day-table">
          <tr>
            <td>
              <table class="task-table">
                <tr>
                  <th class="task-head">Beschreibung</th>
                  <th class="task-head">Zeit</th>
                </tr>
                <tr>
                  <td class="task-data">Task 7</td>
                  <td class="task-data-time">2h</td>
                </tr>
                <tr>
                  <td class="empty-field"></td>
                  <td class="task-data-remaining">0h</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="add-button">+</button>
            </td>
          </tr>
        </table>
      </td>
      <td class="overview-data">
        <table class="day-table">
          <tr>
            <td>
              <table class="task-table">
                <tr>
                  <th class="task-head">Beschreibung</th>
                  <th class="task-head">Zeit</th>
                </tr>
                <tr>
                  <td class="task-data">Task 8</td>
                  <td class="task-data-time">2h</td>
                </tr>
                <tr>
                  <td class="empty-field"></td>
                  <td class="task-data-remaining">0h</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>